In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [3.125, 4.12, 3.1, 6.2, 7.]})
df

   A      B
0  1  3.125
1  2  4.120
2  3  3.100
3  4  6.200
4  5  7.000

In [4]:
test = df.loc[df['A'] > 2, 'B']  = 3

In [5]:
df

   A      B
0  1  3.125
1  2  4.120
2  3  3.000
3  4  3.000
4  5  3.000

In [6]:
df = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [3.125, 4.12, 3.1, 6.2, 7.]})
df

   A      B
0  1  3.125
1  2  4.120
2  3  3.100
3  4  6.200
4  5  7.000

In [15]:
df1 = df.loc[df['A'] > 2]
df1

   A    B
2  3  3.0
3  4  6.2
4  5  7.0

In [16]:
df1.loc[df1['A'] > 3, 'B'] = 8

In [17]:
df1

   A  B
2  3  3
3  4  8
4  5  8

In [18]:
df

   A      B
0  1  3.125
1  2  4.120
2  3  3.000
3  4  6.200
4  5  7.000

In [22]:
df = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [3.125, 4.12, 3.1, 6.2, 7.], "C": [3.125, 4.12, 3.1, 6.2, 7.]})
df

   A      B      C
0  1  3.125  3.125
1  2  4.120  4.120
2  3  3.100  3.100
3  4  6.200  6.200
4  5  7.000  7.000

In [24]:
df1 = df.loc[df['A'] > 1] 
df1

   A     B     C
1  2  4.12  4.12
2  3  3.10  3.10
3  4  6.20  6.20
4  5  7.00  7.00

In [27]:
df2 = df1.loc[df1['B']>5]

In [28]:
df2

   A    B    C
3  4  6.2  6.2
4  5  7.0  7.0

In [32]:
df2.loc[df2['C']>6.5, 'B'] = 8

In [33]:
df2

   A    B    C
3  4  6.2  6.2
4  5  8.0  7.0

In [34]:
df1

   A     B     C
1  2  4.12  4.12
2  3  3.10  3.10
3  4  6.20  6.20
4  5  7.00  7.00

In [35]:
df

   A      B      C
0  1  3.125  3.125
1  2  4.120  4.120
2  3  3.100  3.100
3  4  6.200  6.200
4  5  7.000  7.000

In [36]:
df = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [3.125, 4.12, 3.1, 6.2, 7.], "C": [3.125, 4.12, 3.1, 6.2, 7.]})
df

   A      B      C
0  1  3.125  3.125
1  2  4.120  4.120
2  3  3.100  3.100
3  4  6.200  6.200
4  5  7.000  7.000

In [39]:
df.loc[(df['A']>2) & (df['C']>3), 'B'] =1

In [40]:
df

   A      B      C
0  1  3.125  3.125
1  2  4.120  4.120
2  3  1.000  3.100
3  4  1.000  6.200
4  5  1.000  7.000