In [2]:
import numpy
import threading
import sys
import pandas as pd

from qpython import qconnection
from qpython.qtype import QException
from qpython.qconnection import MessageType
from qpython.qcollection import QTable

In [3]:
q=qconnection.QConnection(host = '183.136.130.82', port = 15030, pandas = True)
q.open()

In [4]:
df = q.sync('select from trade1')
df

                                                                          time  \
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419 2015-12-01 09:29:56.766
            d2f487178feb3e24b31061f819d3e59e1448933987 2015-12-01 09:39:24.897
            e4fe184f4af266ac3a86e5d382c3c1041448934124 2015-12-01 09:41:41.983
            2bb16128bb3509804881700b3aac5cbb1448934172 2015-12-01 09:42:30.122
            0a7e0fa766a53d34a095cedc36b538af1448934210 2015-12-01 09:43:08.079
            443f9caadfd2c3556a19a27b900accff1448934232 2015-12-01 09:43:30.406
            f7321be1c4b0ab4b525614142f3f8c981448934286 2015-12-01 09:44:24.090
            064f76a0ba7c29ea31da1334860fb9ba1448934342 2015-12-01 09:45:19.710
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348 2015-12-01 09:45:26.548
            a9fbdf95fec9ade03c582da611eed4d31448934371 2015-12-01 09:45:49.313
            2998a9dd766738fdcb495f0b10a7ebe81448934425 2015-12-01 09:46:42.706
            d244321ef6bdc0ffeb73d28240a24b861448934458 2015-12-01 09:47:15.995
            295c024fa353e04c55960829cf2a824a1448934474 2015-12-01 09:47:31.790
            70cad6a4317f399f49f074fab3c3aff81448934539 2015-12-01 09:48:37.325
            9e042e2103a74873946b1be8968512d31448934549 2015-12-01 09:48:46.928
            f2133b578bfbd82d57d80a497989b1b21448934637 2015-12-01 09:50:15.163
            27eb99dd95f17de20c5c9a2abd72bd651448934675 2015-12-01 09:50:53.354
            33846ed35ed662714ca527fbe4f00a1f1448934694 2015-12-01 09:51:12.625
            124e344d8c1fbdb52852f36d71ed04ce1448934700 2015-12-01 09:51:17.850
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716 2015-12-01 09:51:34.068
            44861bfe8dfe7ed771720de19be457c91448934725 2015-12-01 09:51:43.146
test1       524ffa0b895eff2e5f8e2938205a8e031448935685 2015-12-01 10:07:42.737
            e0309bb189bb7b2fee1673579ae278d71448935697 2015-12-01 10:07:55.510
            e0fe426290027f1f40f0aa19fe9bf7651448935707 2015-12-01 10:08:05.165
            3171689e357e8cec241f2617b1d2deb61448935715 2015-12-01 10:08:13.273
            a71f86974cdc538f169715df660953e21448935732 2015-12-01 10:08:29.627
            f32e28d79949de9aec57949f9757fa451448935858 2015-12-01 10:10:35.969
            914861ca68c4b71f46242dd91c8a0be91448935864 2015-12-01 10:10:42.387
            dbf857d67e783fba60b7aa2ab4a778921448936281 2015-12-01 10:17:39.052
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299 2015-12-01 10:17:57.208
            a4d8214283b6655a4ce8979221e411ab1448936749 2015-12-01 10:25:26.910
            62cd86f2432a7d2ce362a28b18484ba81448936757 2015-12-01 10:25:35.393
            78deb8347f9895fdc3d02ca3f5e96c651448936807 2015-12-01 10:26:25.120
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729 2015-12-01 11:31:46.857
            96c197556dff27342e9b7363b35c59461448940738 2015-12-01 11:31:55.519
            b16cdcf7acf172586164506d77a1834e1448940755 2015-12-01 11:32:12.423
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169 2015-12-01 13:35:44.523
            63d4eed36c207774299749bff58364931448948183 2015-12-01 13:35:59.312
            d42d8c35f7257678fb8e0b9ba3cf00231448949450 2015-12-01 13:57:05.949
            ce1bf1a39ebd25b07d4ca906670cbda81448949450 2015-12-01 13:57:05.962
            8a89310b3ad71fe00270b4e559111d121448949465 2015-12-01 13:57:20.825
            823dac35a09a4d8cc65718b7df33e0b61448949465 2015-12-01 13:57:20.826
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640 2015-12-01 14:00:16.361
            c1990cdd2a39be08e30d51ddd96d515b1448949640 2015-12-01 14:00:16.363
            12eb795c52bc162b5f3da04f9625ce001448949757 2015-12-01 14:02:13.675
            ad4e04301c4e7eab374333a3d13eead81448949757 2015-12-01 14:02:13.684

                                                        entrustno stockcode  \
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419        649    002024
            d2f487178feb3e24b31061f819d3e59e1448933987       2149    002024
            e4fe184f4af266ac3a86e5d382c3c1041448934124          0    002024
            2bb16128bb3509804881700b3aac5cbb1448934172          0    002024
            0a7e0fa766a53d34a095cedc36b538af1448934210       2696    002024
            443f9caadfd2c3556a19a27b900accff1448934232          0    002024
            f7321be1c4b0ab4b525614142f3f8c981448934286          0    002024
            064f76a0ba7c29ea31da1334860fb9ba1448934342          0    002024
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348          0    002024
            a9fbdf95fec9ade03c582da611eed4d31448934371       3050    002024
            2998a9dd766738fdcb495f0b10a7ebe81448934425       3150    002024
            d244321ef6bdc0ffeb73d28240a24b861448934458          0    002024
            295c024fa353e04c55960829cf2a824a1448934474          0    002024
            70cad6a4317f399f49f074fab3c3aff81448934539          0    002024
            9e042e2103a74873946b1be8968512d31448934549          0    002024
            f2133b578bfbd82d57d80a497989b1b21448934637          0    002024
            27eb99dd95f17de20c5c9a2abd72bd651448934675          0    002024
            33846ed35ed662714ca527fbe4f00a1f1448934694          0    002024
            124e344d8c1fbdb52852f36d71ed04ce1448934700          0    002024
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716          0    002024
            44861bfe8dfe7ed771720de19be457c91448934725          0    002024
test1       524ffa0b895eff2e5f8e2938205a8e031448935685          0    002024
            e0309bb189bb7b2fee1673579ae278d71448935697          0    002024
            e0fe426290027f1f40f0aa19fe9bf7651448935707          0    002024
            3171689e357e8cec241f2617b1d2deb61448935715          0    002024
            a71f86974cdc538f169715df660953e21448935732       5511    002024
            f32e28d79949de9aec57949f9757fa451448935858          0    002024
            914861ca68c4b71f46242dd91c8a0be91448935864          0    002024
            dbf857d67e783fba60b7aa2ab4a778921448936281          0    002024
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299          0    002024
            a4d8214283b6655a4ce8979221e411ab1448936749          0    002024
            62cd86f2432a7d2ce362a28b18484ba81448936757       7057    002024
            78deb8347f9895fdc3d02ca3f5e96c651448936807          0    002024
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729      11807    002024
            96c197556dff27342e9b7363b35c59461448940738          0    002024
            b16cdcf7acf172586164506d77a1834e1448940755          0    002024
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169          0    002024
            63d4eed36c207774299749bff58364931448948183          0    002024
            d42d8c35f7257678fb8e0b9ba3cf00231448949450          0    002024
            ce1bf1a39ebd25b07d4ca906670cbda81448949450          0    002024
            8a89310b3ad71fe00270b4e559111d121448949465          0    002024
            823dac35a09a4d8cc65718b7df33e0b61448949465          0    002024
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640          0    002024
            c1990cdd2a39be08e30d51ddd96d515b1448949640          0    002024
            12eb795c52bc162b5f3da04f9625ce001448949757          0    002024
            ad4e04301c4e7eab374333a3d13eead81448949757          0    002024

                                                        askprice  askvol  \
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419     13.53     100
            d2f487178feb3e24b31061f819d3e59e1448933987     13.32     100
            e4fe184f4af266ac3a86e5d382c3c1041448934124     13.40    -100
            2bb16128bb3509804881700b3aac5cbb1448934172     13.50     100
            0a7e0fa766a53d34a095cedc36b538af1448934210     13.45     100
            443f9caadfd2c3556a19a27b900accff1448934232     13.48     100
            f7321be1c4b0ab4b525614142f3f8c981448934286     13.47    -100
            064f76a0ba7c29ea31da1334860fb9ba1448934342     13.49     100
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348     13.45    -100
            a9fbdf95fec9ade03c582da611eed4d31448934371     13.45     100
            2998a9dd766738fdcb495f0b10a7ebe81448934425     13.47    -100
            d244321ef6bdc0ffeb73d28240a24b861448934458     13.47     100
            295c024fa353e04c55960829cf2a824a1448934474     13.40    -100
            70cad6a4317f399f49f074fab3c3aff81448934539     13.47     100
            9e042e2103a74873946b1be8968512d31448934549     13.47    -100
            f2133b578bfbd82d57d80a497989b1b21448934637     13.59     100
            27eb99dd95f17de20c5c9a2abd72bd651448934675     13.58     100
            33846ed35ed662714ca527fbe4f00a1f1448934694     13.58     100
            124e344d8c1fbdb52852f36d71ed04ce1448934700     13.58     100
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716     13.56     100
            44861bfe8dfe7ed771720de19be457c91448934725     13.49    -100
test1       524ffa0b895eff2e5f8e2938205a8e031448935685     13.48     100
            e0309bb189bb7b2fee1673579ae278d71448935697     13.42    -100
            e0fe426290027f1f40f0aa19fe9bf7651448935707     13.48     100
            3171689e357e8cec241f2617b1d2deb61448935715     13.41    -100
            a71f86974cdc538f169715df660953e21448935732     13.38     100
            f32e28d79949de9aec57949f9757fa451448935858     13.53     100
            914861ca68c4b71f46242dd91c8a0be91448935864     13.47    -100
            dbf857d67e783fba60b7aa2ab4a778921448936281     13.64     100
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299     13.58    -100
            a4d8214283b6655a4ce8979221e411ab1448936749     13.60     100
            62cd86f2432a7d2ce362a28b18484ba81448936757     13.60    -100
            78deb8347f9895fdc3d02ca3f5e96c651448936807     13.54    -100
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729     15.00     100
            96c197556dff27342e9b7363b35c59461448940738     15.00     100
            b16cdcf7acf172586164506d77a1834e1448940755     15.00     100
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169     13.58     100
            63d4eed36c207774299749bff58364931448948183     13.57    -100
            d42d8c35f7257678fb8e0b9ba3cf00231448949450     13.69     100
            ce1bf1a39ebd25b07d4ca906670cbda81448949450     13.69     100
            8a89310b3ad71fe00270b4e559111d121448949465     13.66    -200
            823dac35a09a4d8cc65718b7df33e0b61448949465     13.66    -200
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640     13.72     200
            c1990cdd2a39be08e30d51ddd96d515b1448949640     13.72     200
            12eb795c52bc162b5f3da04f9625ce001448949757     13.75     100
            ad4e04301c4e7eab374333a3d13eead81448949757     13.75     100

                                                        bidprice  bidvol  \
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419         0       0
            d2f487178feb3e24b31061f819d3e59e1448933987         0       0
            e4fe184f4af266ac3a86e5d382c3c1041448934124         0       0
            2bb16128bb3509804881700b3aac5cbb1448934172         0       0
            0a7e0fa766a53d34a095cedc36b538af1448934210         0       0
            443f9caadfd2c3556a19a27b900accff1448934232         0       0
            f7321be1c4b0ab4b525614142f3f8c981448934286         0       0
            064f76a0ba7c29ea31da1334860fb9ba1448934342         0       0
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348         0       0
            a9fbdf95fec9ade03c582da611eed4d31448934371         0       0
            2998a9dd766738fdcb495f0b10a7ebe81448934425         0       0
            d244321ef6bdc0ffeb73d28240a24b861448934458         0       0
            295c024fa353e04c55960829cf2a824a1448934474         0       0
            70cad6a4317f399f49f074fab3c3aff81448934539         0       0
            9e042e2103a74873946b1be8968512d31448934549         0       0
            f2133b578bfbd82d57d80a497989b1b21448934637         0       0
            27eb99dd95f17de20c5c9a2abd72bd651448934675         0       0
            33846ed35ed662714ca527fbe4f00a1f1448934694         0       0
            124e344d8c1fbdb52852f36d71ed04ce1448934700         0       0
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716         0       0
            44861bfe8dfe7ed771720de19be457c91448934725         0       0
test1       524ffa0b895eff2e5f8e2938205a8e031448935685         0       0
            e0309bb189bb7b2fee1673579ae278d71448935697         0       0
            e0fe426290027f1f40f0aa19fe9bf7651448935707         0       0
            3171689e357e8cec241f2617b1d2deb61448935715         0       0
            a71f86974cdc538f169715df660953e21448935732         0       0
            f32e28d79949de9aec57949f9757fa451448935858         0       0
            914861ca68c4b71f46242dd91c8a0be91448935864         0       0
            dbf857d67e783fba60b7aa2ab4a778921448936281         0       0
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299         0       0
            a4d8214283b6655a4ce8979221e411ab1448936749         0       0
            62cd86f2432a7d2ce362a28b18484ba81448936757         0       0
            78deb8347f9895fdc3d02ca3f5e96c651448936807         0       0
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729         0       0
            96c197556dff27342e9b7363b35c59461448940738         0       0
            b16cdcf7acf172586164506d77a1834e1448940755         0       0
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169         0       0
            63d4eed36c207774299749bff58364931448948183         0       0
            d42d8c35f7257678fb8e0b9ba3cf00231448949450         0       0
            ce1bf1a39ebd25b07d4ca906670cbda81448949450         0       0
            8a89310b3ad71fe00270b4e559111d121448949465         0       0
            823dac35a09a4d8cc65718b7df33e0b61448949465         0       0
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640         0       0
            c1990cdd2a39be08e30d51ddd96d515b1448949640         0       0
            12eb795c52bc162b5f3da04f9625ce001448949757         0       0
            ad4e04301c4e7eab374333a3d13eead81448949757         0       0

                                                        withdraw  status
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419         0       3
            d2f487178feb3e24b31061f819d3e59e1448933987         0       3
            e4fe184f4af266ac3a86e5d382c3c1041448934124         0       0
            2bb16128bb3509804881700b3aac5cbb1448934172         0       0
            0a7e0fa766a53d34a095cedc36b538af1448934210         0       3
            443f9caadfd2c3556a19a27b900accff1448934232         0       0
            f7321be1c4b0ab4b525614142f3f8c981448934286         0       0
            064f76a0ba7c29ea31da1334860fb9ba1448934342         0       0
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348         0       0
            a9fbdf95fec9ade03c582da611eed4d31448934371         0       3
            2998a9dd766738fdcb495f0b10a7ebe81448934425         0       3
            d244321ef6bdc0ffeb73d28240a24b861448934458         0       0
            295c024fa353e04c55960829cf2a824a1448934474         0       0
            70cad6a4317f399f49f074fab3c3aff81448934539         0       0
            9e042e2103a74873946b1be8968512d31448934549         0       0
            f2133b578bfbd82d57d80a497989b1b21448934637         0       0
            27eb99dd95f17de20c5c9a2abd72bd651448934675         0       0
            33846ed35ed662714ca527fbe4f00a1f1448934694         0       0
            124e344d8c1fbdb52852f36d71ed04ce1448934700         0       0
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716         0       0
            44861bfe8dfe7ed771720de19be457c91448934725         0       0
test1       524ffa0b895eff2e5f8e2938205a8e031448935685         0       0
            e0309bb189bb7b2fee1673579ae278d71448935697         0       0
            e0fe426290027f1f40f0aa19fe9bf7651448935707         0       0
            3171689e357e8cec241f2617b1d2deb61448935715         0       0
            a71f86974cdc538f169715df660953e21448935732         0       3
            f32e28d79949de9aec57949f9757fa451448935858         0       0
            914861ca68c4b71f46242dd91c8a0be91448935864         0       0
            dbf857d67e783fba60b7aa2ab4a778921448936281         0       0
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299         0       0
            a4d8214283b6655a4ce8979221e411ab1448936749         0       0
            62cd86f2432a7d2ce362a28b18484ba81448936757         0       3
            78deb8347f9895fdc3d02ca3f5e96c651448936807         0       0
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729         0       3
            96c197556dff27342e9b7363b35c59461448940738         0       0
            b16cdcf7acf172586164506d77a1834e1448940755         0       0
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169         0       0
            63d4eed36c207774299749bff58364931448948183         0       0
            d42d8c35f7257678fb8e0b9ba3cf00231448949450         0       0
            ce1bf1a39ebd25b07d4ca906670cbda81448949450         0       0
            8a89310b3ad71fe00270b4e559111d121448949465         0       0
            823dac35a09a4d8cc65718b7df33e0b61448949465         0       0
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640         0       0
            c1990cdd2a39be08e30d51ddd96d515b1448949640         0       0
            12eb795c52bc162b5f3da04f9625ce001448949757         0       0
            ad4e04301c4e7eab374333a3d13eead81448949757         0       0

In [19]:
df.to_string()

                                                                          time  \
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419 2015-12-01 09:29:56.766
            d2f487178feb3e24b31061f819d3e59e1448933987 2015-12-01 09:39:24.897
            e4fe184f4af266ac3a86e5d382c3c1041448934124 2015-12-01 09:41:41.983
            2bb16128bb3509804881700b3aac5cbb1448934172 2015-12-01 09:42:30.122
            0a7e0fa766a53d34a095cedc36b538af1448934210 2015-12-01 09:43:08.079
            443f9caadfd2c3556a19a27b900accff1448934232 2015-12-01 09:43:30.406
            f7321be1c4b0ab4b525614142f3f8c981448934286 2015-12-01 09:44:24.090
            064f76a0ba7c29ea31da1334860fb9ba1448934342 2015-12-01 09:45:19.710
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348 2015-12-01 09:45:26.548
            a9fbdf95fec9ade03c582da611eed4d31448934371 2015-12-01 09:45:49.313
            2998a9dd766738fdcb495f0b10a7ebe81448934425 2015-12-01 09:46:42.706
            d244321ef6bdc0ffeb73d28240a24b861448934458 2015-12-01 09:47:15.995
            295c024fa353e04c55960829cf2a824a1448934474 2015-12-01 09:47:31.790
            70cad6a4317f399f49f074fab3c3aff81448934539 2015-12-01 09:48:37.325
            9e042e2103a74873946b1be8968512d31448934549 2015-12-01 09:48:46.928
            f2133b578bfbd82d57d80a497989b1b21448934637 2015-12-01 09:50:15.163
            27eb99dd95f17de20c5c9a2abd72bd651448934675 2015-12-01 09:50:53.354
            33846ed35ed662714ca527fbe4f00a1f1448934694 2015-12-01 09:51:12.625
            124e344d8c1fbdb52852f36d71ed04ce1448934700 2015-12-01 09:51:17.850
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716 2015-12-01 09:51:34.068
            44861bfe8dfe7ed771720de19be457c91448934725 2015-12-01 09:51:43.146
test1       524ffa0b895eff2e5f8e2938205a8e031448935685 2015-12-01 10:07:42.737
            e0309bb189bb7b2fee1673579ae278d71448935697 2015-12-01 10:07:55.510
            e0fe426290027f1f40f0aa19fe9bf7651448935707 2015-12-01 10:08:05.165
            3171689e357e8cec241f2617b1d2deb61448935715 2015-12-01 10:08:13.273
            a71f86974cdc538f169715df660953e21448935732 2015-12-01 10:08:29.627
            f32e28d79949de9aec57949f9757fa451448935858 2015-12-01 10:10:35.969
            914861ca68c4b71f46242dd91c8a0be91448935864 2015-12-01 10:10:42.387
            dbf857d67e783fba60b7aa2ab4a778921448936281 2015-12-01 10:17:39.052
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299 2015-12-01 10:17:57.208
            a4d8214283b6655a4ce8979221e411ab1448936749 2015-12-01 10:25:26.910
            62cd86f2432a7d2ce362a28b18484ba81448936757 2015-12-01 10:25:35.393
            78deb8347f9895fdc3d02ca3f5e96c651448936807 2015-12-01 10:26:25.120
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729 2015-12-01 11:31:46.857
            96c197556dff27342e9b7363b35c59461448940738 2015-12-01 11:31:55.519
            b16cdcf7acf172586164506d77a1834e1448940755 2015-12-01 11:32:12.423
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169 2015-12-01 13:35:44.523
            63d4eed36c207774299749bff58364931448948183 2015-12-01 13:35:59.312
            d42d8c35f7257678fb8e0b9ba3cf00231448949450 2015-12-01 13:57:05.949
            ce1bf1a39ebd25b07d4ca906670cbda81448949450 2015-12-01 13:57:05.962
            8a89310b3ad71fe00270b4e559111d121448949465 2015-12-01 13:57:20.825
            823dac35a09a4d8cc65718b7df33e0b61448949465 2015-12-01 13:57:20.826
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640 2015-12-01 14:00:16.361
            c1990cdd2a39be08e30d51ddd96d515b1448949640 2015-12-01 14:00:16.363
            12eb795c52bc162b5f3da04f9625ce001448949757 2015-12-01 14:02:13.675
            ad4e04301c4e7eab374333a3d13eead81448949757 2015-12-01 14:02:13.684

                                                        entrustno stockcode  \
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419        649    002024
            d2f487178feb3e24b31061f819d3e59e1448933987       2149    002024
            e4fe184f4af266ac3a86e5d382c3c1041448934124          0    002024
            2bb16128bb3509804881700b3aac5cbb1448934172          0    002024
            0a7e0fa766a53d34a095cedc36b538af1448934210       2696    002024
            443f9caadfd2c3556a19a27b900accff1448934232          0    002024
            f7321be1c4b0ab4b525614142f3f8c981448934286          0    002024
            064f76a0ba7c29ea31da1334860fb9ba1448934342          0    002024
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348          0    002024
            a9fbdf95fec9ade03c582da611eed4d31448934371       3050    002024
            2998a9dd766738fdcb495f0b10a7ebe81448934425       3150    002024
            d244321ef6bdc0ffeb73d28240a24b861448934458          0    002024
            295c024fa353e04c55960829cf2a824a1448934474          0    002024
            70cad6a4317f399f49f074fab3c3aff81448934539          0    002024
            9e042e2103a74873946b1be8968512d31448934549          0    002024
            f2133b578bfbd82d57d80a497989b1b21448934637          0    002024
            27eb99dd95f17de20c5c9a2abd72bd651448934675          0    002024
            33846ed35ed662714ca527fbe4f00a1f1448934694          0    002024
            124e344d8c1fbdb52852f36d71ed04ce1448934700          0    002024
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716          0    002024
            44861bfe8dfe7ed771720de19be457c91448934725          0    002024
test1       524ffa0b895eff2e5f8e2938205a8e031448935685          0    002024
            e0309bb189bb7b2fee1673579ae278d71448935697          0    002024
            e0fe426290027f1f40f0aa19fe9bf7651448935707          0    002024
            3171689e357e8cec241f2617b1d2deb61448935715          0    002024
            a71f86974cdc538f169715df660953e21448935732       5511    002024
            f32e28d79949de9aec57949f9757fa451448935858          0    002024
            914861ca68c4b71f46242dd91c8a0be91448935864          0    002024
            dbf857d67e783fba60b7aa2ab4a778921448936281          0    002024
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299          0    002024
            a4d8214283b6655a4ce8979221e411ab1448936749          0    002024
            62cd86f2432a7d2ce362a28b18484ba81448936757       7057    002024
            78deb8347f9895fdc3d02ca3f5e96c651448936807          0    002024
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729      11807    002024
            96c197556dff27342e9b7363b35c59461448940738          0    002024
            b16cdcf7acf172586164506d77a1834e1448940755          0    002024
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169          0    002024
            63d4eed36c207774299749bff58364931448948183          0    002024
            d42d8c35f7257678fb8e0b9ba3cf00231448949450          0    002024
            ce1bf1a39ebd25b07d4ca906670cbda81448949450          0    002024
            8a89310b3ad71fe00270b4e559111d121448949465          0    002024
            823dac35a09a4d8cc65718b7df33e0b61448949465          0    002024
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640          0    002024
            c1990cdd2a39be08e30d51ddd96d515b1448949640          0    002024
            12eb795c52bc162b5f3da04f9625ce001448949757          0    002024
            ad4e04301c4e7eab374333a3d13eead81448949757          0    002024

                                                        askprice  askvol  \
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419     13.53     100
            d2f487178feb3e24b31061f819d3e59e1448933987     13.32     100
            e4fe184f4af266ac3a86e5d382c3c1041448934124     13.40    -100
            2bb16128bb3509804881700b3aac5cbb1448934172     13.50     100
            0a7e0fa766a53d34a095cedc36b538af1448934210     13.45     100
            443f9caadfd2c3556a19a27b900accff1448934232     13.48     100
            f7321be1c4b0ab4b525614142f3f8c981448934286     13.47    -100
            064f76a0ba7c29ea31da1334860fb9ba1448934342     13.49     100
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348     13.45    -100
            a9fbdf95fec9ade03c582da611eed4d31448934371     13.45     100
            2998a9dd766738fdcb495f0b10a7ebe81448934425     13.47    -100
            d244321ef6bdc0ffeb73d28240a24b861448934458     13.47     100
            295c024fa353e04c55960829cf2a824a1448934474     13.40    -100
            70cad6a4317f399f49f074fab3c3aff81448934539     13.47     100
            9e042e2103a74873946b1be8968512d31448934549     13.47    -100
            f2133b578bfbd82d57d80a497989b1b21448934637     13.59     100
            27eb99dd95f17de20c5c9a2abd72bd651448934675     13.58     100
            33846ed35ed662714ca527fbe4f00a1f1448934694     13.58     100
            124e344d8c1fbdb52852f36d71ed04ce1448934700     13.58     100
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716     13.56     100
            44861bfe8dfe7ed771720de19be457c91448934725     13.49    -100
test1       524ffa0b895eff2e5f8e2938205a8e031448935685     13.48     100
            e0309bb189bb7b2fee1673579ae278d71448935697     13.42    -100
            e0fe426290027f1f40f0aa19fe9bf7651448935707     13.48     100
            3171689e357e8cec241f2617b1d2deb61448935715     13.41    -100
            a71f86974cdc538f169715df660953e21448935732     13.38     100
            f32e28d79949de9aec57949f9757fa451448935858     13.53     100
            914861ca68c4b71f46242dd91c8a0be91448935864     13.47    -100
            dbf857d67e783fba60b7aa2ab4a778921448936281     13.64     100
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299     13.58    -100
            a4d8214283b6655a4ce8979221e411ab1448936749     13.60     100
            62cd86f2432a7d2ce362a28b18484ba81448936757     13.60    -100
            78deb8347f9895fdc3d02ca3f5e96c651448936807     13.54    -100
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729     15.00     100
            96c197556dff27342e9b7363b35c59461448940738     15.00     100
            b16cdcf7acf172586164506d77a1834e1448940755     15.00     100
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169     13.58     100
            63d4eed36c207774299749bff58364931448948183     13.57    -100
            d42d8c35f7257678fb8e0b9ba3cf00231448949450     13.69     100
            ce1bf1a39ebd25b07d4ca906670cbda81448949450     13.69     100
            8a89310b3ad71fe00270b4e559111d121448949465     13.66    -200
            823dac35a09a4d8cc65718b7df33e0b61448949465     13.66    -200
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640     13.72     200
            c1990cdd2a39be08e30d51ddd96d515b1448949640     13.72     200
            12eb795c52bc162b5f3da04f9625ce001448949757     13.75     100
            ad4e04301c4e7eab374333a3d13eead81448949757     13.75     100

                                                        bidprice  bidvol  \
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419         0       0
            d2f487178feb3e24b31061f819d3e59e1448933987         0       0
            e4fe184f4af266ac3a86e5d382c3c1041448934124         0       0
            2bb16128bb3509804881700b3aac5cbb1448934172         0       0
            0a7e0fa766a53d34a095cedc36b538af1448934210         0       0
            443f9caadfd2c3556a19a27b900accff1448934232         0       0
            f7321be1c4b0ab4b525614142f3f8c981448934286         0       0
            064f76a0ba7c29ea31da1334860fb9ba1448934342         0       0
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348         0       0
            a9fbdf95fec9ade03c582da611eed4d31448934371         0       0
            2998a9dd766738fdcb495f0b10a7ebe81448934425         0       0
            d244321ef6bdc0ffeb73d28240a24b861448934458         0       0
            295c024fa353e04c55960829cf2a824a1448934474         0       0
            70cad6a4317f399f49f074fab3c3aff81448934539         0       0
            9e042e2103a74873946b1be8968512d31448934549         0       0
            f2133b578bfbd82d57d80a497989b1b21448934637         0       0
            27eb99dd95f17de20c5c9a2abd72bd651448934675         0       0
            33846ed35ed662714ca527fbe4f00a1f1448934694         0       0
            124e344d8c1fbdb52852f36d71ed04ce1448934700         0       0
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716         0       0
            44861bfe8dfe7ed771720de19be457c91448934725         0       0
test1       524ffa0b895eff2e5f8e2938205a8e031448935685         0       0
            e0309bb189bb7b2fee1673579ae278d71448935697         0       0
            e0fe426290027f1f40f0aa19fe9bf7651448935707         0       0
            3171689e357e8cec241f2617b1d2deb61448935715         0       0
            a71f86974cdc538f169715df660953e21448935732         0       0
            f32e28d79949de9aec57949f9757fa451448935858         0       0
            914861ca68c4b71f46242dd91c8a0be91448935864         0       0
            dbf857d67e783fba60b7aa2ab4a778921448936281         0       0
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299         0       0
            a4d8214283b6655a4ce8979221e411ab1448936749         0       0
            62cd86f2432a7d2ce362a28b18484ba81448936757         0       0
            78deb8347f9895fdc3d02ca3f5e96c651448936807         0       0
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729         0       0
            96c197556dff27342e9b7363b35c59461448940738         0       0
            b16cdcf7acf172586164506d77a1834e1448940755         0       0
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169         0       0
            63d4eed36c207774299749bff58364931448948183         0       0
            d42d8c35f7257678fb8e0b9ba3cf00231448949450         0       0
            ce1bf1a39ebd25b07d4ca906670cbda81448949450         0       0
            8a89310b3ad71fe00270b4e559111d121448949465         0       0
            823dac35a09a4d8cc65718b7df33e0b61448949465         0       0
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640         0       0
            c1990cdd2a39be08e30d51ddd96d515b1448949640         0       0
            12eb795c52bc162b5f3da04f9625ce001448949757         0       0
            ad4e04301c4e7eab374333a3d13eead81448949757         0       0

                                                        withdraw  status
sym         qid
chenhq      509729051452328518bd5d1cb0d699911448933419         0       3
            d2f487178feb3e24b31061f819d3e59e1448933987         0       3
            e4fe184f4af266ac3a86e5d382c3c1041448934124         0       0
            2bb16128bb3509804881700b3aac5cbb1448934172         0       0
            0a7e0fa766a53d34a095cedc36b538af1448934210         0       3
            443f9caadfd2c3556a19a27b900accff1448934232         0       0
            f7321be1c4b0ab4b525614142f3f8c981448934286         0       0
            064f76a0ba7c29ea31da1334860fb9ba1448934342         0       0
            cecd1d2e56a97aa5e8bdd0f37a71bc0a1448934348         0       0
            a9fbdf95fec9ade03c582da611eed4d31448934371         0       3
            2998a9dd766738fdcb495f0b10a7ebe81448934425         0       3
            d244321ef6bdc0ffeb73d28240a24b861448934458         0       0
            295c024fa353e04c55960829cf2a824a1448934474         0       0
            70cad6a4317f399f49f074fab3c3aff81448934539         0       0
            9e042e2103a74873946b1be8968512d31448934549         0       0
            f2133b578bfbd82d57d80a497989b1b21448934637         0       0
            27eb99dd95f17de20c5c9a2abd72bd651448934675         0       0
            33846ed35ed662714ca527fbe4f00a1f1448934694         0       0
            124e344d8c1fbdb52852f36d71ed04ce1448934700         0       0
            83dcd1daebf2c7b71b8b0eac5d7c17511448934716         0       0
            44861bfe8dfe7ed771720de19be457c91448934725         0       0
test1       524ffa0b895eff2e5f8e2938205a8e031448935685         0       0
            e0309bb189bb7b2fee1673579ae278d71448935697         0       0
            e0fe426290027f1f40f0aa19fe9bf7651448935707         0       0
            3171689e357e8cec241f2617b1d2deb61448935715         0       0
            a71f86974cdc538f169715df660953e21448935732         0       3
            f32e28d79949de9aec57949f9757fa451448935858         0       0
            914861ca68c4b71f46242dd91c8a0be91448935864         0       0
            dbf857d67e783fba60b7aa2ab4a778921448936281         0       0
            ec6f12ddca025e0ce8bb3c39b685dbb71448936299         0       0
            a4d8214283b6655a4ce8979221e411ab1448936749         0       0
            62cd86f2432a7d2ce362a28b18484ba81448936757         0       3
            78deb8347f9895fdc3d02ca3f5e96c651448936807         0       0
dfdfd       92a26c9861a7bda2e2799a29b1ec25d11448940729         0       3
            96c197556dff27342e9b7363b35c59461448940738         0       0
            b16cdcf7acf172586164506d77a1834e1448940755         0       0
xuxiaoqiang 5581177a89f27871cc814690ea2340731448948169         0       0
            63d4eed36c207774299749bff58364931448948183         0       0
            d42d8c35f7257678fb8e0b9ba3cf00231448949450         0       0
            ce1bf1a39ebd25b07d4ca906670cbda81448949450         0       0
            8a89310b3ad71fe00270b4e559111d121448949465         0       0
            823dac35a09a4d8cc65718b7df33e0b61448949465         0       0
            8f9b546cf5eabdc5ac4d4b4b0ba119e51448949640         0       0
            c1990cdd2a39be08e30d51ddd96d515b1448949640         0       0
            12eb795c52bc162b5f3da04f9625ce001448949757         0       0
            ad4e04301c4e7eab374333a3d13eead81448949757         0       0

In [22]:
'status' in df.columns

True

In [14]:
('sym' not in df.index.names) or ('qid' not in df.index.names)

False

In [28]:
q('set', numpy.string_('dftest'), dfRequestTrades)

'dftest'

In [27]:
q('wsupd[`trade2; dftest]')

'trade2'

In [71]:
q.sync('.u.sub', numpy.string_('trade1'), numpy.string_(''))

['trade1',
                                      entrustno  stockcode  askprice  askvol  \
 time                    sym     qid
 2015-11-18 17:31:45.344 321     0            0          0       0.0       0
 2015-11-18 17:31:57.276 321     0            0          0       0.0       0
 2015-11-18 17:32:12.274 321     0            0          0       0.0       0
 2015-11-18 17:32:14.801 321     0            0          0       0.0       0
 2015-11-18 17:32:33.392 321     0            0          0       0.0       0
 2015-11-18 17:32:48.420 321     0            0          0       0.0       0
 2015-11-19 15:27:16.466 4569852 0            0     600000       0.0       0
 2015-11-19 15:27:41.512 4569852 1            0     600000       0.0       0
 2015-11-19 15:27:45.183 4569852 2            0     600000       0.0       0
 2015-11-19 15:31:00.195 4569852 3            0     600000       0.0       0
 2015-11-20 11:29:06.339 123     1            0     600010       3.7     100
 2015-11-20 11:48:35.860 123     1            0     600010       3.7     100
 2015-11-20 11:49:47.824 123     1            0     600010       3.7     100
 2015-11-20 11:56:11.387 123     1            0     600010       3.7     100
 2015-11-20 11:56:34.470 123     1            0     600010       3.7     100
 2015-11-20 11:57:15.458 123     1            0     600010       3.7     100
 2015-11-20 11:57:21.064 123     1            0     600010       3.7     100
 2015-11-20 11:57:36.145 123     1            0     600010       3.7     100
 2015-11-20 11:59:44.104 123     1            0     600010       3.7     100
 2015-11-20 12:00:18.306 123     1            0     600010       3.7     100
 2015-11-20 12:01:14.161 123     1            0     600010       3.7     100
 2015-11-20 12:01:53.306 123     1            0     600010       3.7     100
 2015-11-20 12:03:02.009 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 12:04:10.172 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 12:05:21.372 123     1            0     600010       3.7     100
 2015-11-20 14:34:52.319 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:51:10.707 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:53:16.195 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:54:20.117 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:58:20.102 123     0            0     600010       3.7     100
 2015-11-20 15:58:31.629 123     0            0     600010       3.7     100
 2015-11-20 15:58:56.982 123     0            0     600010       3.7     100

                                      bidprice  bidvol  status
 time                    sym     qid
 2015-11-18 17:31:45.344 321     0           0       0       0
 2015-11-18 17:31:57.276 321     0           0       0       0
 2015-11-18 17:32:12.274 321     0           0       0       0
 2015-11-18 17:32:14.801 321     0           0       0       0
 2015-11-18 17:32:33.392 321     0           0       0       0
 2015-11-18 17:32:48.420 321     0           0       0       0
 2015-11-19 15:27:16.466 4569852 0           0       0       0
 2015-11-19 15:27:41.512 4569852 1           0       0       0
 2015-11-19 15:27:45.183 4569852 2           0       0       0
 2015-11-19 15:31:00.195 4569852 3           0       0       0
 2015-11-20 11:29:06.339 123     1           0       0       0
 2015-11-20 11:48:35.860 123     1           0       0       0
 2015-11-20 11:49:47.824 123     1           0       0       0
 2015-11-20 11:56:11.387 123     1           0       0       0
 2015-11-20 11:56:34.470 123     1           0       0       0
 2015-11-20 11:57:15.458 123     1           0       0       0
 2015-11-20 11:57:21.064 123     1           0       0       0
 2015-11-20 11:57:36.145 123     1           0       0       0
 2015-11-20 11:59:44.104 123     1           0       0       0
 2015-11-20 12:00:18.306 123     1           0       0       0
 2015-11-20 12:01:14.161 123     1           0       0       0
 2015-11-20 12:01:53.306 123     1           0       0       0
 2015-11-20 12:03:02.009 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 12:04:10.172 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 12:05:21.372 123     1           0       0       0
 2015-11-20 14:34:52.319 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:51:10.707 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:53:16.195 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:54:20.117 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:58:20.102 123     0           0       0       0
 2015-11-20 15:58:31.629 123     0           0       0       0
 2015-11-20 15:58:56.982 123     0           0       0       0  ]

In [73]:
message = q.receive(data_only=False, raw=False, pandas=True)

In [74]:
type(message.data[2])

pandas.core.frame.DataFrame

In [79]:
dfNewRequstTrades = message.data[2].set_index(['time', 'sym', 'qid'])

In [80]:
dfNewRequstTrades

,,,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
time,sym,qid,,,,,,,
2015-11-20 16:14:51.456,123,0,0,600010,3.7,100,0,0,0

In [78]:
dfNewRequstTrades.set_index(['time', 'sym', 'qid'])

,,,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
time,sym,qid,,,,,,,
2015-11-20 16:14:51.456,123,0,0,600010,3.7,100,0,0,0

In [81]:
message = q.receive(data_only=False, raw=False, pandas=True)

In [82]:
type(message.data[2])

list

In [83]:
message.data[2]

[0   2015-11-20 16:35:35.165
 1   2015-11-20 16:35:35.165
 dtype: datetime64[ns], 0    123
 1    234
 dtype: object, 0    1
 1    2
 dtype: int64, 0    0
 1    1
 dtype: int64, 0    600010
 1    600010
 dtype: int64, 0    3.7
 1    3.8
 dtype: float64, 0    100
 1    100
 dtype: int64, 0    0
 1    0
 dtype: float64, 0    0
 1    0
 dtype: int64, 0    0
 1    0
 dtype: int64]

In [87]:
type(message.data[2][0])

pandas.core.series.Series

In [88]:
message.data[2][0]

0   2015-11-20 16:35:35.165
1   2015-11-20 16:35:35.165
dtype: datetime64[ns]

In [89]:
index = ['time', 'sym', 'qid']
columns = ['time', 'sym', 'qid','entrustno', 'stockcode', 'askprice', 'askvol', 'bidprice', 'bidvol', 'status']
#pd.DataFrame(data=message.data[2], columns=columns)
dfNewRequstTrades=pd.concat(message.data[2], axis=1)
dfNewRequstTrades

In [92]:
dfNewRequstTrades.columns=columns
dfNewRequstTrades

,time,sym,qid,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
0,2015-11-20 16:35:35.165,123,1,0,600010,3.7,100,0,0,0
1,2015-11-20 16:35:35.165,234,2,1,600010,3.8,100,0,0,0

In [94]:
dfNewRequstTrades.set_index(index)

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-20 16:35:35.165 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8     100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-20 16:35:35.165 123 1           0       0       0
                        234 2           0       0       0

In [125]:
for key, row in dfNewRequstTrades.iterrows():
    print(type(index), index)
    print(type(row), row)

(<type 'list'>, ['time', 'sym', 'qid'])
(<class 'pandas.core.series.Series'>, entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol          100.0
bidprice          0.0
bidvol            0.0
status            0.0
Name: (2015-11-20 16:35:35.165000, 123, 1), dtype: float64)
(<type 'list'>, ['time', 'sym', 'qid'])
(<class 'pandas.core.series.Series'>, entrustno         1.0
stockcode    600010.0
askprice          3.8
askvol          100.0
bidprice          0.0
bidvol            0.0
status            0.0
Name: (2015-11-20 16:35:35.165000, 234, 2), dtype: float64)

In [124]:
for key, row in dfNewRequstTrades.iterrows():
    print(row.stockcode, row.askprice, row.askvol)

(600010.0, 3.7000000000000002, 100.0)
(600010.0, 3.7999999999999998, 100.0)

In [112]:
'buy' if int(row.askvol) > 0 else 'sell'

'buy'

In [120]:
index = ['time', 'sym', 'qid']
dfNewRequstTrades = dfNewRequstTrades.set_index(index)
dfNewRequstTrades

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-20 16:35:35.165 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8     100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-20 16:35:35.165 123 1           0       0       0
                        234 2           0       0       0

In [ ]:
pd.merge(left, right )

In [121]:
pd.concat([dfRequestTrades,dfNewRequstTrades])

                                     entrustno  stockcode  askprice  askvol  \
time                    sym     qid
2015-11-18 17:31:45.344 321     0            0          0       0.0       0
2015-11-18 17:31:57.276 321     0            0          0       0.0       0
2015-11-18 17:32:12.274 321     0            0          0       0.0       0
2015-11-18 17:32:14.801 321     0            0          0       0.0       0
2015-11-18 17:32:33.392 321     0            0          0       0.0       0
2015-11-18 17:32:48.420 321     0            0          0       0.0       0
2015-11-19 15:27:16.466 4569852 0            0     600000       0.0       0
2015-11-19 15:27:41.512 4569852 1            0     600000       0.0       0
2015-11-19 15:27:45.183 4569852 2            0     600000       0.0       0
2015-11-19 15:31:00.195 4569852 3            0     600000       0.0       0
2015-11-20 11:29:06.339 123     1            0     600010       3.7     100
2015-11-20 11:48:35.860 123     1            0     600010       3.7     100
2015-11-20 11:49:47.824 123     1            0     600010       3.7     100
2015-11-20 11:56:11.387 123     1            0     600010       3.7     100
2015-11-20 11:56:34.470 123     1            0     600010       3.7     100
2015-11-20 11:57:15.458 123     1            0     600010       3.7     100
2015-11-20 11:57:21.064 123     1            0     600010       3.7     100
2015-11-20 11:57:36.145 123     1            0     600010       3.7     100
2015-11-20 11:59:44.104 123     1            0     600010       3.7     100
2015-11-20 12:00:18.306 123     1            0     600010       3.7     100
2015-11-20 12:01:14.161 123     1            0     600010       3.7     100
2015-11-20 12:01:53.306 123     1            0     600010       3.7     100
2015-11-20 12:03:02.009 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 12:04:10.172 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 12:05:21.372 123     1            0     600010       3.7     100
2015-11-20 14:34:52.319 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:51:10.707 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:53:16.195 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:54:20.117 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:58:20.102 123     0            0     600010       3.7     100
2015-11-20 15:58:31.629 123     0            0     600010       3.7     100
2015-11-20 15:58:56.982 123     0            0     600010       3.7     100
2015-11-20 16:35:35.165 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100

                                     bidprice  bidvol  status
time                    sym     qid
2015-11-18 17:31:45.344 321     0           0       0       0
2015-11-18 17:31:57.276 321     0           0       0       0
2015-11-18 17:32:12.274 321     0           0       0       0
2015-11-18 17:32:14.801 321     0           0       0       0
2015-11-18 17:32:33.392 321     0           0       0       0
2015-11-18 17:32:48.420 321     0           0       0       0
2015-11-19 15:27:16.466 4569852 0           0       0       0
2015-11-19 15:27:41.512 4569852 1           0       0       0
2015-11-19 15:27:45.183 4569852 2           0       0       0
2015-11-19 15:31:00.195 4569852 3           0       0       0
2015-11-20 11:29:06.339 123     1           0       0       0
2015-11-20 11:48:35.860 123     1           0       0       0
2015-11-20 11:49:47.824 123     1           0       0       0
2015-11-20 11:56:11.387 123     1           0       0       0
2015-11-20 11:56:34.470 123     1           0       0       0
2015-11-20 11:57:15.458 123     1           0       0       0
2015-11-20 11:57:21.064 123     1           0       0       0
2015-11-20 11:57:36.145 123     1           0       0       0
2015-11-20 11:59:44.104 123     1           0       0       0
2015-11-20 12:00:18.306 123     1           0       0       0
2015-11-20 12:01:14.161 123     1           0       0       0
2015-11-20 12:01:53.306 123     1           0       0       0
2015-11-20 12:03:02.009 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 12:04:10.172 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 12:05:21.372 123     1           0       0       0
2015-11-20 14:34:52.319 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:51:10.707 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:53:16.195 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:54:20.117 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:58:20.102 123     0           0       0       0
2015-11-20 15:58:31.629 123     0           0       0       0
2015-11-20 15:58:56.982 123     0           0       0       0
2015-11-20 16:35:35.165 123     1           0       0       0
                        234     2           0       0       0

In [56]:
df = pd.read_clipboard(encoding='gbk',  parse_dates=[u''])

In [57]:
df.columns

Index([       u'',        u'',        u'',        u'',
                u'',        u'',        u'',        u'',
              u'',        u'',        u'',        u'',
              u'',        u'',        u'',        u'',
              u'', u'Unnamed: 17'],
      dtype='object')

In [82]:
df

,,,,,,,,,,,,,,,,,,Unnamed: 17
0,2015-11-22 15:00:03,348,600010,,,,,3.7,100,0,0,0,A292897268,880000869287,,NaN,348,NaN
1,2015-11-22 15:00:14,349,600010,,,,,3.7,100,0,0,0,A292897268,880000869287,,NaN,349,NaN
2,2015-11-22 15:03:39,355,600010,,,,,3.7,100,0,0,0,A292897268,880000869287,,NaN,355,NaN
3,2015-11-22 15:03:40,356,600010,,,,,3.7,100,0,0,0,A292897268,880000869287,,NaN,356,NaN
4,2015-11-22 15:03:46,357,600010,,,,,3.7,100,0,0,0,A292897268,880000869287,,NaN,357,NaN
5,2015-11-22 15:03:47,358,600010,,,,,3.7,100,0,0,0,A292897268,880000869287,,NaN,358,NaN

In [108]:
type(df.loc[0][u''])

numpy.float64

In [109]:
for i in range(5):
    print i

0
1
2
3
4

In [105]:
 for row in df.iterrows():
    print row[1]

           2015-11-22 15:00:03
                           348
                        600010




                           3.7
                           100
                             0
                             0
                             0
                    A292897268
                  880000869287

                           NaN
                           348
Unnamed: 17                    NaN
Name: 0, dtype: object
           2015-11-22 15:00:14
                           349
                        600010




                           3.7
                           100
                             0
                             0
                             0
                    A292897268
                  880000869287

                           NaN
                           349
Unnamed: 17                    NaN
Name: 1, dtype: object
           2015-11-22 15:03:39
                           355
                        600010




                           3.7
                           100
                             0
                             0
                             0
                    A292897268
                  880000869287

                           NaN
                           355
Unnamed: 17                    NaN
Name: 2, dtype: object
           2015-11-22 15:03:40
                           356
                        600010




                           3.7
                           100
                             0
                             0
                             0
                    A292897268
                  880000869287

                           NaN
                           356
Unnamed: 17                    NaN
Name: 3, dtype: object
           2015-11-22 15:03:46
                           357
                        600010




                           3.7
                           100
                             0
                             0
                             0
                    A292897268
                  880000869287

                           NaN
                           357
Unnamed: 17                    NaN
Name: 4, dtype: object
           2015-11-22 15:03:47
                           358
                        600010




                           3.7
                           100
                             0
                             0
                             0
                    A292897268
                  880000869287

                           NaN
                           358
Unnamed: 17                    NaN
Name: 5, dtype: object

In [93]:
df.dtypes

           datetime64[ns]
                    int64
                    int64
                   object
                     object
                   object
                   object
                  float64
                    int64
                  float64
                    int64
                    int64
                   object
                    int64
                   object
                  float64
                    int64
Unnamed: 17           float64
dtype: object

In [66]:
query = 'select from trade2'
df = q(query)

error: [Errno 10053]

In [32]:
df

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-22 05:25:11.972 123 0            0     600010       3.7     100
2015-11-22 05:25:11.974 123 0            0     600010       3.7    -100
                            0            0     600010       3.7     100
                            0            0     600010       3.7    -100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-22 05:25:11.972 123 0         3.6     100       0
2015-11-22 05:25:11.974 123 0         0.0     -50       0
                            0         3.6      50       0
                            0         0.0       0       0

In [38]:
df_unf=df[df.bidvol != df.askvol]

In [41]:
len(df_unf)

3

In [44]:
df['changed'] = np.zeros(len(df))

In [45]:
df

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-22 05:25:11.972 123 0            0     600010       3.7     100
2015-11-22 05:25:11.974 123 0            0     600010       3.7    -100
                            0            0     600010       3.7     100
                            0            0     600010       3.7    -100

                                 bidprice  bidvol  status  changed
time                    sym qid
2015-11-22 05:25:11.972 123 0         3.6     100       0        0
2015-11-22 05:25:11.974 123 0         0.0     -50       0        0
                            0         3.6      50       0        0
                            0         0.0       0       0        0

In [46]:
for row in df.iterrows():
    print row

((Timestamp('2015-11-22 05:25:11.972000'), '123', 0L), entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol          100.0
bidprice          3.6
bidvol          100.0
status            0.0
changed           0.0
Name: (2015-11-22 05:25:11.972000, 123, 0), dtype: float64)
((Timestamp('2015-11-22 05:25:11.974000'), '123', 0L), entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol         -100.0
bidprice          0.0
bidvol          -50.0
status            0.0
changed           0.0
Name: (2015-11-22 05:25:11.974000, 123, 0), dtype: float64)
((Timestamp('2015-11-22 05:25:11.974000'), '123', 0L), entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol          100.0
bidprice          3.6
bidvol           50.0
status            0.0
changed           0.0
Name: (2015-11-22 05:25:11.974000, 123, 0), dtype: float64)
((Timestamp('2015-11-22 05:25:11.974000'), '123', 0L), entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol         -100.0
bidprice          0.0
bidvol            0.0
status            0.0
changed           0.0
Name: (2015-11-22 05:25:11.974000, 123, 0), dtype: float64)