In [1]:
import numpy
import threading
import sys
import pandas as pd

from qpython import qconnection
from qpython.qtype import QException
from qpython.qconnection import MessageType
from qpython.qcollection import QTable

In [28]:
q=qconnection.QConnection(host = '183.136.130.82', port = 5030, pandas = True)
q.open()

In [25]:
dfRequestTrades = q.sync('select from trade1')
dfRequestTrades

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-21 10:57:45.309 123 0            0     600010       3.7     100
2015-11-21 10:58:55.379 123 0            0     600010       3.7     100
2015-11-21 10:59:12.927 123 0            0     600010       3.7     100
2015-11-21 11:01:42.431 123 0            0     600010       3.7     100
2015-11-21 11:03:10.250 123 0            0     600010       3.7     100
2015-11-21 11:08:01.404 123 0            0     600010       3.7     100
2015-11-21 11:10:45.737 123 0            0     600010       3.7     100
2015-11-21 11:12:34.268 123 0            0     600010       3.7     100
2015-11-21 11:12:52.406 123 0            0     600010       3.7     100
2015-11-21 11:13:28.150 123 0            0     600010       3.7     100
2015-11-21 11:14:09.864 123 0            0     600010       3.7     100
2015-11-21 11:14:57.536 123 0            0     600010       3.7     100
2015-11-21 11:15:04.648 123 0            0     600010       3.7     100
2015-11-21 11:15:26.129 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8     100
2015-11-21 11:15:51.883 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8    -100
2015-11-21 11:16:02.020 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8    -100
2015-11-21 11:16:06.890 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8    -100
2015-11-21 11:16:10.029 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8    -100
2015-11-21 11:16:12.636 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8    -100
2015-11-21 11:16:15.482 123 1            0     600010       3.7     100
2015-11-21 11:16:15.481 234 2            1     600010       3.8    -100
2015-11-21 11:16:18.162 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8    -100
2015-11-21 11:16:20.780 123 1            0     600010       3.7     100
...                                    ...        ...       ...     ...
2015-11-21 15:02:03.879 123 0            0     600010       3.7    -100
2015-11-21 15:02:10.860 123 0            0     600010       3.7    -100
2015-11-21 15:03:58.466 123 0            0     600010       3.7     100
2015-11-21 15:04:00.194 123 0            0     600010       3.7    -100
2015-11-21 15:16:08.806 123 0            0     600010       3.7     100
2015-11-21 15:17:12.409 123 0            0     600010       3.7     100
2015-11-21 15:17:18.339 123 0            0     600010       3.7     100
2015-11-21 15:17:23.809 123 0            0     600010       3.7     100
2015-11-21 15:17:29.135 123 0            0     600010       3.7     100
2015-11-21 15:22:21.772 123 0            0     600010       3.7     100
2015-11-21 15:22:28.866 123 0            0     600010       3.7     100
2015-11-21 17:46:56.337 123 0            0     600010       3.7     100
2015-11-21 17:47:03.713 123 0            0     600010       3.7     100
                            0            0     600010       3.7    -100
2015-11-21 17:47:09.135 123 0            0     600010       3.7     100
                            0            0     600010       3.7    -100
2015-11-21 17:47:13.269 123 0            0     600010       3.7     100
2015-11-21 17:47:13.270 123 0            0     600010       3.7    -100
2015-11-21 17:47:17.145 123 0            0     600010       3.7     100
                            0            0     600010       3.7    -100
2015-11-21 17:47:20.844 123 0            0     600010       3.7     100
                            0            0     600010       3.7    -100
2015-11-21 17:47:24.146 123 0            0     600010       3.7     100
2015-11-21 17:47:24.147 123 0            0     600010       3.7    -100
2015-11-21 17:47:27.652 123 0            0     600010       3.7     100
                            0            0     600010       3.7    -100
2015-11-21 17:47:29.648 123 0            0     600010       3.7     100
                            0            0     600010       3.7    -100
2015-11-21 17:47:32.767 123 0            0     600010       3.7     100
2015-11-21 17:47:32.768 123 0            0     600010       3.7    -100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-21 10:57:45.309 123 0           0       0       0
2015-11-21 10:58:55.379 123 0           0       0       0
2015-11-21 10:59:12.927 123 0           0       0       0
2015-11-21 11:01:42.431 123 0           0       0       0
2015-11-21 11:03:10.250 123 0           0       0       0
2015-11-21 11:08:01.404 123 0           0       0       0
2015-11-21 11:10:45.737 123 0           0       0       0
2015-11-21 11:12:34.268 123 0           0       0       0
2015-11-21 11:12:52.406 123 0           0       0       0
2015-11-21 11:13:28.150 123 0           0       0       0
2015-11-21 11:14:09.864 123 0           0       0       0
2015-11-21 11:14:57.536 123 0           0       0       0
2015-11-21 11:15:04.648 123 0           0       0       0
2015-11-21 11:15:26.129 123 1           0       0       0
                        234 2           0       0       0
2015-11-21 11:15:51.883 123 1           0       0       0
                        234 2           0       0       0
2015-11-21 11:16:02.020 123 1           0       0       0
                        234 2           0       0       0
2015-11-21 11:16:06.890 123 1           0       0       0
                        234 2           0       0       0
2015-11-21 11:16:10.029 123 1           0       0       0
                        234 2           0       0       0
2015-11-21 11:16:12.636 123 1           0       0       0
                        234 2           0       0       0
2015-11-21 11:16:15.482 123 1           0       0       0
2015-11-21 11:16:15.481 234 2           0       0       0
2015-11-21 11:16:18.162 123 1           0       0       0
                        234 2           0       0       0
2015-11-21 11:16:20.780 123 1           0       0       0
...                                   ...     ...     ...
2015-11-21 15:02:03.879 123 0           0       0       0
2015-11-21 15:02:10.860 123 0           0       0       0
2015-11-21 15:03:58.466 123 0           0       0       0
2015-11-21 15:04:00.194 123 0           0       0       0
2015-11-21 15:16:08.806 123 0           0       0       0
2015-11-21 15:17:12.409 123 0           0       0       0
2015-11-21 15:17:18.339 123 0           0       0       0
2015-11-21 15:17:23.809 123 0           0       0       0
2015-11-21 15:17:29.135 123 0           0       0       0
2015-11-21 15:22:21.772 123 0           0       0       0
2015-11-21 15:22:28.866 123 0           0       0       0
2015-11-21 17:46:56.337 123 0           0       0       0
2015-11-21 17:47:03.713 123 0           0       0       0
                            0           0       0       0
2015-11-21 17:47:09.135 123 0           0       0       0
                            0           0       0       0
2015-11-21 17:47:13.269 123 0           0       0       0
2015-11-21 17:47:13.270 123 0           0       0       0
2015-11-21 17:47:17.145 123 0           0       0       0
                            0           0       0       0
2015-11-21 17:47:20.844 123 0           0       0       0
                            0           0       0       0
2015-11-21 17:47:24.146 123 0           0       0       0
2015-11-21 17:47:24.147 123 0           0       0       0
2015-11-21 17:47:27.652 123 0           0       0       0
                            0           0       0       0
2015-11-21 17:47:29.648 123 0           0       0       0
                            0           0       0       0
2015-11-21 17:47:32.767 123 0           0       0       0
2015-11-21 17:47:32.768 123 0           0       0       0

[3188 rows x 7 columns]

In [28]:
q('set', numpy.string_('dftest'), dfRequestTrades)

'dftest'

In [27]:
q('wsupd[`trade2; dftest]')

'trade2'

In [71]:
q.sync('.u.sub', numpy.string_('trade1'), numpy.string_(''))

['trade1',
                                      entrustno  stockcode  askprice  askvol  \
 time                    sym     qid
 2015-11-18 17:31:45.344 321     0            0          0       0.0       0
 2015-11-18 17:31:57.276 321     0            0          0       0.0       0
 2015-11-18 17:32:12.274 321     0            0          0       0.0       0
 2015-11-18 17:32:14.801 321     0            0          0       0.0       0
 2015-11-18 17:32:33.392 321     0            0          0       0.0       0
 2015-11-18 17:32:48.420 321     0            0          0       0.0       0
 2015-11-19 15:27:16.466 4569852 0            0     600000       0.0       0
 2015-11-19 15:27:41.512 4569852 1            0     600000       0.0       0
 2015-11-19 15:27:45.183 4569852 2            0     600000       0.0       0
 2015-11-19 15:31:00.195 4569852 3            0     600000       0.0       0
 2015-11-20 11:29:06.339 123     1            0     600010       3.7     100
 2015-11-20 11:48:35.860 123     1            0     600010       3.7     100
 2015-11-20 11:49:47.824 123     1            0     600010       3.7     100
 2015-11-20 11:56:11.387 123     1            0     600010       3.7     100
 2015-11-20 11:56:34.470 123     1            0     600010       3.7     100
 2015-11-20 11:57:15.458 123     1            0     600010       3.7     100
 2015-11-20 11:57:21.064 123     1            0     600010       3.7     100
 2015-11-20 11:57:36.145 123     1            0     600010       3.7     100
 2015-11-20 11:59:44.104 123     1            0     600010       3.7     100
 2015-11-20 12:00:18.306 123     1            0     600010       3.7     100
 2015-11-20 12:01:14.161 123     1            0     600010       3.7     100
 2015-11-20 12:01:53.306 123     1            0     600010       3.7     100
 2015-11-20 12:03:02.009 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 12:04:10.172 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 12:05:21.372 123     1            0     600010       3.7     100
 2015-11-20 14:34:52.319 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:51:10.707 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:53:16.195 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:54:20.117 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:58:20.102 123     0            0     600010       3.7     100
 2015-11-20 15:58:31.629 123     0            0     600010       3.7     100
 2015-11-20 15:58:56.982 123     0            0     600010       3.7     100

                                      bidprice  bidvol  status
 time                    sym     qid
 2015-11-18 17:31:45.344 321     0           0       0       0
 2015-11-18 17:31:57.276 321     0           0       0       0
 2015-11-18 17:32:12.274 321     0           0       0       0
 2015-11-18 17:32:14.801 321     0           0       0       0
 2015-11-18 17:32:33.392 321     0           0       0       0
 2015-11-18 17:32:48.420 321     0           0       0       0
 2015-11-19 15:27:16.466 4569852 0           0       0       0
 2015-11-19 15:27:41.512 4569852 1           0       0       0
 2015-11-19 15:27:45.183 4569852 2           0       0       0
 2015-11-19 15:31:00.195 4569852 3           0       0       0
 2015-11-20 11:29:06.339 123     1           0       0       0
 2015-11-20 11:48:35.860 123     1           0       0       0
 2015-11-20 11:49:47.824 123     1           0       0       0
 2015-11-20 11:56:11.387 123     1           0       0       0
 2015-11-20 11:56:34.470 123     1           0       0       0
 2015-11-20 11:57:15.458 123     1           0       0       0
 2015-11-20 11:57:21.064 123     1           0       0       0
 2015-11-20 11:57:36.145 123     1           0       0       0
 2015-11-20 11:59:44.104 123     1           0       0       0
 2015-11-20 12:00:18.306 123     1           0       0       0
 2015-11-20 12:01:14.161 123     1           0       0       0
 2015-11-20 12:01:53.306 123     1           0       0       0
 2015-11-20 12:03:02.009 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 12:04:10.172 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 12:05:21.372 123     1           0       0       0
 2015-11-20 14:34:52.319 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:51:10.707 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:53:16.195 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:54:20.117 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:58:20.102 123     0           0       0       0
 2015-11-20 15:58:31.629 123     0           0       0       0
 2015-11-20 15:58:56.982 123     0           0       0       0  ]

In [73]:
message = q.receive(data_only=False, raw=False, pandas=True)

In [74]:
type(message.data[2])

pandas.core.frame.DataFrame

In [79]:
dfNewRequstTrades = message.data[2].set_index(['time', 'sym', 'qid'])

In [80]:
dfNewRequstTrades

,,,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
time,sym,qid,,,,,,,
2015-11-20 16:14:51.456,123,0,0,600010,3.7,100,0,0,0

In [78]:
dfNewRequstTrades.set_index(['time', 'sym', 'qid'])

,,,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
time,sym,qid,,,,,,,
2015-11-20 16:14:51.456,123,0,0,600010,3.7,100,0,0,0

In [81]:
message = q.receive(data_only=False, raw=False, pandas=True)

In [82]:
type(message.data[2])

list

In [83]:
message.data[2]

[0   2015-11-20 16:35:35.165
 1   2015-11-20 16:35:35.165
 dtype: datetime64[ns], 0    123
 1    234
 dtype: object, 0    1
 1    2
 dtype: int64, 0    0
 1    1
 dtype: int64, 0    600010
 1    600010
 dtype: int64, 0    3.7
 1    3.8
 dtype: float64, 0    100
 1    100
 dtype: int64, 0    0
 1    0
 dtype: float64, 0    0
 1    0
 dtype: int64, 0    0
 1    0
 dtype: int64]

In [87]:
type(message.data[2][0])

pandas.core.series.Series

In [88]:
message.data[2][0]

0   2015-11-20 16:35:35.165
1   2015-11-20 16:35:35.165
dtype: datetime64[ns]

In [89]:
index = ['time', 'sym', 'qid']
columns = ['time', 'sym', 'qid','entrustno', 'stockcode', 'askprice', 'askvol', 'bidprice', 'bidvol', 'status']
#pd.DataFrame(data=message.data[2], columns=columns)
dfNewRequstTrades=pd.concat(message.data[2], axis=1)
dfNewRequstTrades

In [92]:
dfNewRequstTrades.columns=columns
dfNewRequstTrades

,time,sym,qid,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
0,2015-11-20 16:35:35.165,123,1,0,600010,3.7,100,0,0,0
1,2015-11-20 16:35:35.165,234,2,1,600010,3.8,100,0,0,0

In [94]:
dfNewRequstTrades.set_index(index)

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-20 16:35:35.165 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8     100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-20 16:35:35.165 123 1           0       0       0
                        234 2           0       0       0

In [125]:
for key, row in dfNewRequstTrades.iterrows():
    print(type(index), index)
    print(type(row), row)

(<type 'list'>, ['time', 'sym', 'qid'])
(<class 'pandas.core.series.Series'>, entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol          100.0
bidprice          0.0
bidvol            0.0
status            0.0
Name: (2015-11-20 16:35:35.165000, 123, 1), dtype: float64)
(<type 'list'>, ['time', 'sym', 'qid'])
(<class 'pandas.core.series.Series'>, entrustno         1.0
stockcode    600010.0
askprice          3.8
askvol          100.0
bidprice          0.0
bidvol            0.0
status            0.0
Name: (2015-11-20 16:35:35.165000, 234, 2), dtype: float64)

In [124]:
for key, row in dfNewRequstTrades.iterrows():
    print(row.stockcode, row.askprice, row.askvol)

(600010.0, 3.7000000000000002, 100.0)
(600010.0, 3.7999999999999998, 100.0)

In [112]:
'buy' if int(row.askvol) > 0 else 'sell'

'buy'

In [120]:
index = ['time', 'sym', 'qid']
dfNewRequstTrades = dfNewRequstTrades.set_index(index)
dfNewRequstTrades

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-20 16:35:35.165 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8     100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-20 16:35:35.165 123 1           0       0       0
                        234 2           0       0       0

In [ ]:
pd.merge(left, right )

In [121]:
pd.concat([dfRequestTrades,dfNewRequstTrades])

                                     entrustno  stockcode  askprice  askvol  \
time                    sym     qid
2015-11-18 17:31:45.344 321     0            0          0       0.0       0
2015-11-18 17:31:57.276 321     0            0          0       0.0       0
2015-11-18 17:32:12.274 321     0            0          0       0.0       0
2015-11-18 17:32:14.801 321     0            0          0       0.0       0
2015-11-18 17:32:33.392 321     0            0          0       0.0       0
2015-11-18 17:32:48.420 321     0            0          0       0.0       0
2015-11-19 15:27:16.466 4569852 0            0     600000       0.0       0
2015-11-19 15:27:41.512 4569852 1            0     600000       0.0       0
2015-11-19 15:27:45.183 4569852 2            0     600000       0.0       0
2015-11-19 15:31:00.195 4569852 3            0     600000       0.0       0
2015-11-20 11:29:06.339 123     1            0     600010       3.7     100
2015-11-20 11:48:35.860 123     1            0     600010       3.7     100
2015-11-20 11:49:47.824 123     1            0     600010       3.7     100
2015-11-20 11:56:11.387 123     1            0     600010       3.7     100
2015-11-20 11:56:34.470 123     1            0     600010       3.7     100
2015-11-20 11:57:15.458 123     1            0     600010       3.7     100
2015-11-20 11:57:21.064 123     1            0     600010       3.7     100
2015-11-20 11:57:36.145 123     1            0     600010       3.7     100
2015-11-20 11:59:44.104 123     1            0     600010       3.7     100
2015-11-20 12:00:18.306 123     1            0     600010       3.7     100
2015-11-20 12:01:14.161 123     1            0     600010       3.7     100
2015-11-20 12:01:53.306 123     1            0     600010       3.7     100
2015-11-20 12:03:02.009 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 12:04:10.172 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 12:05:21.372 123     1            0     600010       3.7     100
2015-11-20 14:34:52.319 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:51:10.707 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:53:16.195 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:54:20.117 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:58:20.102 123     0            0     600010       3.7     100
2015-11-20 15:58:31.629 123     0            0     600010       3.7     100
2015-11-20 15:58:56.982 123     0            0     600010       3.7     100
2015-11-20 16:35:35.165 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100

                                     bidprice  bidvol  status
time                    sym     qid
2015-11-18 17:31:45.344 321     0           0       0       0
2015-11-18 17:31:57.276 321     0           0       0       0
2015-11-18 17:32:12.274 321     0           0       0       0
2015-11-18 17:32:14.801 321     0           0       0       0
2015-11-18 17:32:33.392 321     0           0       0       0
2015-11-18 17:32:48.420 321     0           0       0       0
2015-11-19 15:27:16.466 4569852 0           0       0       0
2015-11-19 15:27:41.512 4569852 1           0       0       0
2015-11-19 15:27:45.183 4569852 2           0       0       0
2015-11-19 15:31:00.195 4569852 3           0       0       0
2015-11-20 11:29:06.339 123     1           0       0       0
2015-11-20 11:48:35.860 123     1           0       0       0
2015-11-20 11:49:47.824 123     1           0       0       0
2015-11-20 11:56:11.387 123     1           0       0       0
2015-11-20 11:56:34.470 123     1           0       0       0
2015-11-20 11:57:15.458 123     1           0       0       0
2015-11-20 11:57:21.064 123     1           0       0       0
2015-11-20 11:57:36.145 123     1           0       0       0
2015-11-20 11:59:44.104 123     1           0       0       0
2015-11-20 12:00:18.306 123     1           0       0       0
2015-11-20 12:01:14.161 123     1           0       0       0
2015-11-20 12:01:53.306 123     1           0       0       0
2015-11-20 12:03:02.009 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 12:04:10.172 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 12:05:21.372 123     1           0       0       0
2015-11-20 14:34:52.319 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:51:10.707 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:53:16.195 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:54:20.117 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:58:20.102 123     0           0       0       0
2015-11-20 15:58:31.629 123     0           0       0       0
2015-11-20 15:58:56.982 123     0           0       0       0
2015-11-20 16:35:35.165 123     1           0       0       0
                        234     2           0       0       0

In [56]:
df = pd.read_clipboard(encoding='gbk',  parse_dates=[u'委托时间'])

In [57]:
df.columns

Index([       u'委托时间',        u'申请编号',        u'证券代码',        u'证券名称',
                u'买卖',        u'委托类型',        u'委托状态',        u'委托价格',
              u'委托数量',        u'成交价格',        u'成交数量',        u'已撤数量',
              u'股东代码',        u'资金帐号',        u'交易市场',        u'返回信息',
              u'委托编号', u'Unnamed: 17'],
      dtype='object')

In [82]:
df

,委托时间,申请编号,证券代码,证券名称,买卖,委托类型,委托状态,委托价格,委托数量,成交价格,成交数量,已撤数量,股东代码,资金帐号,交易市场,返回信息,委托编号,Unnamed: 17
0,2015-11-22 15:00:03,348,600010,包钢股份,买入,买卖,未报,3.7,100,0,0,0,A292897268,880000869287,上海,NaN,348,NaN
1,2015-11-22 15:00:14,349,600010,包钢股份,买入,买卖,未报,3.7,100,0,0,0,A292897268,880000869287,上海,NaN,349,NaN
2,2015-11-22 15:03:39,355,600010,包钢股份,买入,买卖,未报,3.7,100,0,0,0,A292897268,880000869287,上海,NaN,355,NaN
3,2015-11-22 15:03:40,356,600010,包钢股份,卖出,买卖,未报,3.7,100,0,0,0,A292897268,880000869287,上海,NaN,356,NaN
4,2015-11-22 15:03:46,357,600010,包钢股份,买入,买卖,未报,3.7,100,0,0,0,A292897268,880000869287,上海,NaN,357,NaN
5,2015-11-22 15:03:47,358,600010,包钢股份,卖出,买卖,未报,3.7,100,0,0,0,A292897268,880000869287,上海,NaN,358,NaN

In [108]:
type(df.loc[0][u'成交价格'])

numpy.float64

In [109]:
for i in range(5):
    print i

0
1
2
3
4

In [105]:
 for row in df.iterrows():
    print row[1]

委托时间           2015-11-22 15:00:03
申请编号                           348
证券代码                        600010
证券名称                          包钢股份
买卖                              买入
委托类型                            买卖
委托状态                            未报
委托价格                           3.7
委托数量                           100
成交价格                             0
成交数量                             0
已撤数量                             0
股东代码                    A292897268
资金帐号                  880000869287
交易市场                            上海
返回信息                           NaN
委托编号                           348
Unnamed: 17                    NaN
Name: 0, dtype: object
委托时间           2015-11-22 15:00:14
申请编号                           349
证券代码                        600010
证券名称                          包钢股份
买卖                              买入
委托类型                            买卖
委托状态                            未报
委托价格                           3.7
委托数量                           100
成交价格                             0
成交数量                             0
已撤数量                             0
股东代码                    A292897268
资金帐号                  880000869287
交易市场                            上海
返回信息                           NaN
委托编号                           349
Unnamed: 17                    NaN
Name: 1, dtype: object
委托时间           2015-11-22 15:03:39
申请编号                           355
证券代码                        600010
证券名称                          包钢股份
买卖                              买入
委托类型                            买卖
委托状态                            未报
委托价格                           3.7
委托数量                           100
成交价格                             0
成交数量                             0
已撤数量                             0
股东代码                    A292897268
资金帐号                  880000869287
交易市场                            上海
返回信息                           NaN
委托编号                           355
Unnamed: 17                    NaN
Name: 2, dtype: object
委托时间           2015-11-22 15:03:40
申请编号                           356
证券代码                        600010
证券名称                          包钢股份
买卖                              卖出
委托类型                            买卖
委托状态                            未报
委托价格                           3.7
委托数量                           100
成交价格                             0
成交数量                             0
已撤数量                             0
股东代码                    A292897268
资金帐号                  880000869287
交易市场                            上海
返回信息                           NaN
委托编号                           356
Unnamed: 17                    NaN
Name: 3, dtype: object
委托时间           2015-11-22 15:03:46
申请编号                           357
证券代码                        600010
证券名称                          包钢股份
买卖                              买入
委托类型                            买卖
委托状态                            未报
委托价格                           3.7
委托数量                           100
成交价格                             0
成交数量                             0
已撤数量                             0
股东代码                    A292897268
资金帐号                  880000869287
交易市场                            上海
返回信息                           NaN
委托编号                           357
Unnamed: 17                    NaN
Name: 4, dtype: object
委托时间           2015-11-22 15:03:47
申请编号                           358
证券代码                        600010
证券名称                          包钢股份
买卖                              卖出
委托类型                            买卖
委托状态                            未报
委托价格                           3.7
委托数量                           100
成交价格                             0
成交数量                             0
已撤数量                             0
股东代码                    A292897268
资金帐号                  880000869287
交易市场                            上海
返回信息                           NaN
委托编号                           358
Unnamed: 17                    NaN
Name: 5, dtype: object

In [93]:
df.dtypes

委托时间           datetime64[ns]
申请编号                    int64
证券代码                    int64
证券名称                   object
买卖                     object
委托类型                   object
委托状态                   object
委托价格                  float64
委托数量                    int64
成交价格                  float64
成交数量                    int64
已撤数量                    int64
股东代码                   object
资金帐号                    int64
交易市场                   object
返回信息                  float64
委托编号                    int64
Unnamed: 17           float64
dtype: object

In [66]:
query = 'select from trade2'
df = q(query)

error: [Errno 10053]

In [32]:
df

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-22 05:25:11.972 123 0            0     600010       3.7     100
2015-11-22 05:25:11.974 123 0            0     600010       3.7    -100
                            0            0     600010       3.7     100
                            0            0     600010       3.7    -100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-22 05:25:11.972 123 0         3.6     100       0
2015-11-22 05:25:11.974 123 0         0.0     -50       0
                            0         3.6      50       0
                            0         0.0       0       0

In [38]:
df_unf=df[df.bidvol != df.askvol]

In [41]:
len(df_unf)

3

In [44]:
df['changed'] = np.zeros(len(df))

In [45]:
df

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-22 05:25:11.972 123 0            0     600010       3.7     100
2015-11-22 05:25:11.974 123 0            0     600010       3.7    -100
                            0            0     600010       3.7     100
                            0            0     600010       3.7    -100

                                 bidprice  bidvol  status  changed
time                    sym qid
2015-11-22 05:25:11.972 123 0         3.6     100       0        0
2015-11-22 05:25:11.974 123 0         0.0     -50       0        0
                            0         3.6      50       0        0
                            0         0.0       0       0        0

In [46]:
for row in df.iterrows():
    print row

((Timestamp('2015-11-22 05:25:11.972000'), '123', 0L), entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol          100.0
bidprice          3.6
bidvol          100.0
status            0.0
changed           0.0
Name: (2015-11-22 05:25:11.972000, 123, 0), dtype: float64)
((Timestamp('2015-11-22 05:25:11.974000'), '123', 0L), entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol         -100.0
bidprice          0.0
bidvol          -50.0
status            0.0
changed           0.0
Name: (2015-11-22 05:25:11.974000, 123, 0), dtype: float64)
((Timestamp('2015-11-22 05:25:11.974000'), '123', 0L), entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol          100.0
bidprice          3.6
bidvol           50.0
status            0.0
changed           0.0
Name: (2015-11-22 05:25:11.974000, 123, 0), dtype: float64)
((Timestamp('2015-11-22 05:25:11.974000'), '123', 0L), entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol         -100.0
bidprice          0.0
bidvol            0.0
status            0.0
changed           0.0
Name: (2015-11-22 05:25:11.974000, 123, 0), dtype: float64)