In [63]:
import numpy
import threading
import sys
import pandas as pd

from qpython import qconnection
from qpython.qtype import QException
from qpython.qconnection import MessageType
from qpython.qcollection import QTable

In [64]:
q=qconnection.QConnection(host = '183.136.130.82', port = 5030, pandas = True)
q.open()

In [67]:
dfRequestTrades = q.sync('select from trade1')
dfRequestTrades

                                     entrustno  stockcode  askprice  askvol  \
time                    sym     qid
2015-11-18 17:31:45.344 321     0            0          0       0.0       0
2015-11-18 17:31:57.276 321     0            0          0       0.0       0
2015-11-18 17:32:12.274 321     0            0          0       0.0       0
2015-11-18 17:32:14.801 321     0            0          0       0.0       0
2015-11-18 17:32:33.392 321     0            0          0       0.0       0
2015-11-18 17:32:48.420 321     0            0          0       0.0       0
2015-11-19 15:27:16.466 4569852 0            0     600000       0.0       0
2015-11-19 15:27:41.512 4569852 1            0     600000       0.0       0
2015-11-19 15:27:45.183 4569852 2            0     600000       0.0       0
2015-11-19 15:31:00.195 4569852 3            0     600000       0.0       0
2015-11-20 11:29:06.339 123     1            0     600010       3.7     100
2015-11-20 11:48:35.860 123     1            0     600010       3.7     100
2015-11-20 11:49:47.824 123     1            0     600010       3.7     100
2015-11-20 11:56:11.387 123     1            0     600010       3.7     100
2015-11-20 11:56:34.470 123     1            0     600010       3.7     100
2015-11-20 11:57:15.458 123     1            0     600010       3.7     100
2015-11-20 11:57:21.064 123     1            0     600010       3.7     100
2015-11-20 11:57:36.145 123     1            0     600010       3.7     100
2015-11-20 11:59:44.104 123     1            0     600010       3.7     100
2015-11-20 12:00:18.306 123     1            0     600010       3.7     100
2015-11-20 12:01:14.161 123     1            0     600010       3.7     100
2015-11-20 12:01:53.306 123     1            0     600010       3.7     100
2015-11-20 12:03:02.009 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 12:04:10.172 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 12:05:21.372 123     1            0     600010       3.7     100
2015-11-20 14:34:52.319 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:51:10.707 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:53:16.195 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:54:20.117 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:58:20.102 123     0            0     600010       3.7     100
2015-11-20 15:58:31.629 123     0            0     600010       3.7     100
2015-11-20 15:58:56.982 123     0            0     600010       3.7     100

                                     bidprice  bidvol  status
time                    sym     qid
2015-11-18 17:31:45.344 321     0           0       0       0
2015-11-18 17:31:57.276 321     0           0       0       0
2015-11-18 17:32:12.274 321     0           0       0       0
2015-11-18 17:32:14.801 321     0           0       0       0
2015-11-18 17:32:33.392 321     0           0       0       0
2015-11-18 17:32:48.420 321     0           0       0       0
2015-11-19 15:27:16.466 4569852 0           0       0       0
2015-11-19 15:27:41.512 4569852 1           0       0       0
2015-11-19 15:27:45.183 4569852 2           0       0       0
2015-11-19 15:31:00.195 4569852 3           0       0       0
2015-11-20 11:29:06.339 123     1           0       0       0
2015-11-20 11:48:35.860 123     1           0       0       0
2015-11-20 11:49:47.824 123     1           0       0       0
2015-11-20 11:56:11.387 123     1           0       0       0
2015-11-20 11:56:34.470 123     1           0       0       0
2015-11-20 11:57:15.458 123     1           0       0       0
2015-11-20 11:57:21.064 123     1           0       0       0
2015-11-20 11:57:36.145 123     1           0       0       0
2015-11-20 11:59:44.104 123     1           0       0       0
2015-11-20 12:00:18.306 123     1           0       0       0
2015-11-20 12:01:14.161 123     1           0       0       0
2015-11-20 12:01:53.306 123     1           0       0       0
2015-11-20 12:03:02.009 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 12:04:10.172 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 12:05:21.372 123     1           0       0       0
2015-11-20 14:34:52.319 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:51:10.707 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:53:16.195 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:54:20.117 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:58:20.102 123     0           0       0       0
2015-11-20 15:58:31.629 123     0           0       0       0
2015-11-20 15:58:56.982 123     0           0       0       0

In [70]:
dfResponseTrades = q.sync('select from trade2')
dfResponseTrades

,,,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
time,sym,qid,,,,,,,
2015-11-18 17:33:05.413,321,0,0,0,0,0,0,0,0
2015-11-19 15:31:00.195,4569852,3,0,600000,0,0,0,0,0

In [71]:
q.sync('.u.sub', numpy.string_('trade1'), numpy.string_(''))

['trade1',
                                      entrustno  stockcode  askprice  askvol  \
 time                    sym     qid
 2015-11-18 17:31:45.344 321     0            0          0       0.0       0
 2015-11-18 17:31:57.276 321     0            0          0       0.0       0
 2015-11-18 17:32:12.274 321     0            0          0       0.0       0
 2015-11-18 17:32:14.801 321     0            0          0       0.0       0
 2015-11-18 17:32:33.392 321     0            0          0       0.0       0
 2015-11-18 17:32:48.420 321     0            0          0       0.0       0
 2015-11-19 15:27:16.466 4569852 0            0     600000       0.0       0
 2015-11-19 15:27:41.512 4569852 1            0     600000       0.0       0
 2015-11-19 15:27:45.183 4569852 2            0     600000       0.0       0
 2015-11-19 15:31:00.195 4569852 3            0     600000       0.0       0
 2015-11-20 11:29:06.339 123     1            0     600010       3.7     100
 2015-11-20 11:48:35.860 123     1            0     600010       3.7     100
 2015-11-20 11:49:47.824 123     1            0     600010       3.7     100
 2015-11-20 11:56:11.387 123     1            0     600010       3.7     100
 2015-11-20 11:56:34.470 123     1            0     600010       3.7     100
 2015-11-20 11:57:15.458 123     1            0     600010       3.7     100
 2015-11-20 11:57:21.064 123     1            0     600010       3.7     100
 2015-11-20 11:57:36.145 123     1            0     600010       3.7     100
 2015-11-20 11:59:44.104 123     1            0     600010       3.7     100
 2015-11-20 12:00:18.306 123     1            0     600010       3.7     100
 2015-11-20 12:01:14.161 123     1            0     600010       3.7     100
 2015-11-20 12:01:53.306 123     1            0     600010       3.7     100
 2015-11-20 12:03:02.009 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 12:04:10.172 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 12:05:21.372 123     1            0     600010       3.7     100
 2015-11-20 14:34:52.319 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:51:10.707 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:53:16.195 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:54:20.117 123     1            0     600010       3.7     100
                         234     2            1     600010       3.8     100
 2015-11-20 15:58:20.102 123     0            0     600010       3.7     100
 2015-11-20 15:58:31.629 123     0            0     600010       3.7     100
 2015-11-20 15:58:56.982 123     0            0     600010       3.7     100

                                      bidprice  bidvol  status
 time                    sym     qid
 2015-11-18 17:31:45.344 321     0           0       0       0
 2015-11-18 17:31:57.276 321     0           0       0       0
 2015-11-18 17:32:12.274 321     0           0       0       0
 2015-11-18 17:32:14.801 321     0           0       0       0
 2015-11-18 17:32:33.392 321     0           0       0       0
 2015-11-18 17:32:48.420 321     0           0       0       0
 2015-11-19 15:27:16.466 4569852 0           0       0       0
 2015-11-19 15:27:41.512 4569852 1           0       0       0
 2015-11-19 15:27:45.183 4569852 2           0       0       0
 2015-11-19 15:31:00.195 4569852 3           0       0       0
 2015-11-20 11:29:06.339 123     1           0       0       0
 2015-11-20 11:48:35.860 123     1           0       0       0
 2015-11-20 11:49:47.824 123     1           0       0       0
 2015-11-20 11:56:11.387 123     1           0       0       0
 2015-11-20 11:56:34.470 123     1           0       0       0
 2015-11-20 11:57:15.458 123     1           0       0       0
 2015-11-20 11:57:21.064 123     1           0       0       0
 2015-11-20 11:57:36.145 123     1           0       0       0
 2015-11-20 11:59:44.104 123     1           0       0       0
 2015-11-20 12:00:18.306 123     1           0       0       0
 2015-11-20 12:01:14.161 123     1           0       0       0
 2015-11-20 12:01:53.306 123     1           0       0       0
 2015-11-20 12:03:02.009 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 12:04:10.172 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 12:05:21.372 123     1           0       0       0
 2015-11-20 14:34:52.319 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:51:10.707 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:53:16.195 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:54:20.117 123     1           0       0       0
                         234     2           0       0       0
 2015-11-20 15:58:20.102 123     0           0       0       0
 2015-11-20 15:58:31.629 123     0           0       0       0
 2015-11-20 15:58:56.982 123     0           0       0       0  ]

In [73]:
message = q.receive(data_only=False, raw=False, pandas=True)

In [74]:
type(message.data[2])

pandas.core.frame.DataFrame

In [79]:
dfNewRequstTrades = message.data[2].set_index(['time', 'sym', 'qid'])

In [80]:
dfNewRequstTrades

,,,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
time,sym,qid,,,,,,,
2015-11-20 16:14:51.456,123,0,0,600010,3.7,100,0,0,0

In [78]:
dfNewRequstTrades.set_index(['time', 'sym', 'qid'])

,,,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
time,sym,qid,,,,,,,
2015-11-20 16:14:51.456,123,0,0,600010,3.7,100,0,0,0

In [81]:
message = q.receive(data_only=False, raw=False, pandas=True)

In [82]:
type(message.data[2])

list

In [83]:
message.data[2]

[0   2015-11-20 16:35:35.165
 1   2015-11-20 16:35:35.165
 dtype: datetime64[ns], 0    123
 1    234
 dtype: object, 0    1
 1    2
 dtype: int64, 0    0
 1    1
 dtype: int64, 0    600010
 1    600010
 dtype: int64, 0    3.7
 1    3.8
 dtype: float64, 0    100
 1    100
 dtype: int64, 0    0
 1    0
 dtype: float64, 0    0
 1    0
 dtype: int64, 0    0
 1    0
 dtype: int64]

In [87]:
type(message.data[2][0])

pandas.core.series.Series

In [88]:
message.data[2][0]

0   2015-11-20 16:35:35.165
1   2015-11-20 16:35:35.165
dtype: datetime64[ns]

In [89]:
index = ['time', 'sym', 'qid']
columns = ['time', 'sym', 'qid','entrustno', 'stockcode', 'askprice', 'askvol', 'bidprice', 'bidvol', 'status']
#pd.DataFrame(data=message.data[2], columns=columns)
dfNewRequstTrades=pd.concat(message.data[2], axis=1)
dfNewRequstTrades

In [92]:
dfNewRequstTrades.columns=columns
dfNewRequstTrades

,time,sym,qid,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
0,2015-11-20 16:35:35.165,123,1,0,600010,3.7,100,0,0,0
1,2015-11-20 16:35:35.165,234,2,1,600010,3.8,100,0,0,0

In [94]:
dfNewRequstTrades.set_index(index)

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-20 16:35:35.165 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8     100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-20 16:35:35.165 123 1           0       0       0
                        234 2           0       0       0

In [125]:
for key, row in dfNewRequstTrades.iterrows():
    print(type(index), index)
    print(type(row), row)

(<type 'list'>, ['time', 'sym', 'qid'])
(<class 'pandas.core.series.Series'>, entrustno         0.0
stockcode    600010.0
askprice          3.7
askvol          100.0
bidprice          0.0
bidvol            0.0
status            0.0
Name: (2015-11-20 16:35:35.165000, 123, 1), dtype: float64)
(<type 'list'>, ['time', 'sym', 'qid'])
(<class 'pandas.core.series.Series'>, entrustno         1.0
stockcode    600010.0
askprice          3.8
askvol          100.0
bidprice          0.0
bidvol            0.0
status            0.0
Name: (2015-11-20 16:35:35.165000, 234, 2), dtype: float64)

In [124]:
for key, row in dfNewRequstTrades.iterrows():
    print(row.stockcode, row.askprice, row.askvol)

(600010.0, 3.7000000000000002, 100.0)
(600010.0, 3.7999999999999998, 100.0)

In [112]:
'buy' if int(row.askvol) > 0 else 'sell'

'buy'

In [120]:
index = ['time', 'sym', 'qid']
dfNewRequstTrades = dfNewRequstTrades.set_index(index)
dfNewRequstTrades

                                 entrustno  stockcode  askprice  askvol  \
time                    sym qid
2015-11-20 16:35:35.165 123 1            0     600010       3.7     100
                        234 2            1     600010       3.8     100

                                 bidprice  bidvol  status
time                    sym qid
2015-11-20 16:35:35.165 123 1           0       0       0
                        234 2           0       0       0

In [121]:
pd.concat([dfRequestTrades,dfNewRequstTrades])

                                     entrustno  stockcode  askprice  askvol  \
time                    sym     qid
2015-11-18 17:31:45.344 321     0            0          0       0.0       0
2015-11-18 17:31:57.276 321     0            0          0       0.0       0
2015-11-18 17:32:12.274 321     0            0          0       0.0       0
2015-11-18 17:32:14.801 321     0            0          0       0.0       0
2015-11-18 17:32:33.392 321     0            0          0       0.0       0
2015-11-18 17:32:48.420 321     0            0          0       0.0       0
2015-11-19 15:27:16.466 4569852 0            0     600000       0.0       0
2015-11-19 15:27:41.512 4569852 1            0     600000       0.0       0
2015-11-19 15:27:45.183 4569852 2            0     600000       0.0       0
2015-11-19 15:31:00.195 4569852 3            0     600000       0.0       0
2015-11-20 11:29:06.339 123     1            0     600010       3.7     100
2015-11-20 11:48:35.860 123     1            0     600010       3.7     100
2015-11-20 11:49:47.824 123     1            0     600010       3.7     100
2015-11-20 11:56:11.387 123     1            0     600010       3.7     100
2015-11-20 11:56:34.470 123     1            0     600010       3.7     100
2015-11-20 11:57:15.458 123     1            0     600010       3.7     100
2015-11-20 11:57:21.064 123     1            0     600010       3.7     100
2015-11-20 11:57:36.145 123     1            0     600010       3.7     100
2015-11-20 11:59:44.104 123     1            0     600010       3.7     100
2015-11-20 12:00:18.306 123     1            0     600010       3.7     100
2015-11-20 12:01:14.161 123     1            0     600010       3.7     100
2015-11-20 12:01:53.306 123     1            0     600010       3.7     100
2015-11-20 12:03:02.009 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 12:04:10.172 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 12:05:21.372 123     1            0     600010       3.7     100
2015-11-20 14:34:52.319 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:51:10.707 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:53:16.195 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:54:20.117 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100
2015-11-20 15:58:20.102 123     0            0     600010       3.7     100
2015-11-20 15:58:31.629 123     0            0     600010       3.7     100
2015-11-20 15:58:56.982 123     0            0     600010       3.7     100
2015-11-20 16:35:35.165 123     1            0     600010       3.7     100
                        234     2            1     600010       3.8     100

                                     bidprice  bidvol  status
time                    sym     qid
2015-11-18 17:31:45.344 321     0           0       0       0
2015-11-18 17:31:57.276 321     0           0       0       0
2015-11-18 17:32:12.274 321     0           0       0       0
2015-11-18 17:32:14.801 321     0           0       0       0
2015-11-18 17:32:33.392 321     0           0       0       0
2015-11-18 17:32:48.420 321     0           0       0       0
2015-11-19 15:27:16.466 4569852 0           0       0       0
2015-11-19 15:27:41.512 4569852 1           0       0       0
2015-11-19 15:27:45.183 4569852 2           0       0       0
2015-11-19 15:31:00.195 4569852 3           0       0       0
2015-11-20 11:29:06.339 123     1           0       0       0
2015-11-20 11:48:35.860 123     1           0       0       0
2015-11-20 11:49:47.824 123     1           0       0       0
2015-11-20 11:56:11.387 123     1           0       0       0
2015-11-20 11:56:34.470 123     1           0       0       0
2015-11-20 11:57:15.458 123     1           0       0       0
2015-11-20 11:57:21.064 123     1           0       0       0
2015-11-20 11:57:36.145 123     1           0       0       0
2015-11-20 11:59:44.104 123     1           0       0       0
2015-11-20 12:00:18.306 123     1           0       0       0
2015-11-20 12:01:14.161 123     1           0       0       0
2015-11-20 12:01:53.306 123     1           0       0       0
2015-11-20 12:03:02.009 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 12:04:10.172 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 12:05:21.372 123     1           0       0       0
2015-11-20 14:34:52.319 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:51:10.707 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:53:16.195 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:54:20.117 123     1           0       0       0
                        234     2           0       0       0
2015-11-20 15:58:20.102 123     0           0       0       0
2015-11-20 15:58:31.629 123     0           0       0       0
2015-11-20 15:58:56.982 123     0           0       0       0
2015-11-20 16:35:35.165 123     1           0       0       0
                        234     2           0       0       0