In [2]:
import numpy
import threading
import sys
import pandas as pd

from qpython import qconnection
from qpython.qtype import QException
from qpython.qconnection import MessageType
from qpython.qcollection import QTable

In [3]:
q=qconnection.QConnection(host = '183.136.130.82', port = 5030, pandas = True)
q.open()

In [4]:
r = q.sync('select from trade1')

In [7]:
r

,,,entrustno,stockcode,askprice,askvol,bidprice,bidvol,status
time,sym,qid,,,,,,,
2015-11-18 17:31:45.344,321,0,0,0,0.0,0,0,0,0
2015-11-18 17:31:57.276,321,0,0,0,0.0,0,0,0,0
2015-11-18 17:32:12.274,321,0,0,0,0.0,0,0,0,0
2015-11-18 17:32:14.801,321,0,0,0,0.0,0,0,0,0
2015-11-18 17:32:33.392,321,0,0,0,0.0,0,0,0,0
2015-11-18 17:32:48.420,321,0,0,0,0.0,0,0,0,0
2015-11-19 15:27:16.466,4569852,0,0,600000,0.0,0,0,0,0
2015-11-19 15:27:41.512,4569852,1,0,600000,0.0,0,0,0,0
2015-11-19 15:27:45.183,4569852,2,0,600000,0.0,0,0,0,0
2015-11-19 15:31:00.195,4569852,3,0,600000,0.0,0,0,0,0
2015-11-20 11:29:06.339,123,1,0,600010,3.7,100,0,0,0

In [10]:
response = q.sync('.u.sub', numpy.string_('trade1'), numpy.string_(''))

In [12]:
print response[1]

list

In [5]:
message = q.receive(data_only=False, raw=False, pandas=True)

In [6]:
print(message[2])

              time   sym   price  size   stop cond ex
0  18:23:07.107079  INTC   60.40    98  False    K  N
1  18:23:07.107079  GOOG  239.40    76  False    R  N
2  18:23:07.107079   HPQ   92.98    41  False    R  O
3  18:23:07.107079   DOW   27.44    18  False    E  O
4  18:23:07.614080   AMD   23.59    70  False    N  N
5  18:23:07.614080  AAPL  363.12    53  False    B  N
6  18:23:07.614080  GOOG  239.50    44  False    O  N
7  18:23:07.614080   AMD   23.59    49   True    8  N
8  18:23:07.614080  MSFT   47.52    57  False    Z  N
9  18:23:07.614080  DELL   30.98    76  False    8  N
10 18:23:07.614080   DOW   27.43     8  False    C  O
11 18:23:07.614080   IBM   40.24    12  False    L  N
12 18:23:07.614080  MSFT   47.49    47  False    N  N
13 18:23:07.614080   AIG   10.38    19  False    E  O

In [7]:
print(message)

['upd', 'trade',               time   sym   price  size   stop cond ex
0  18:23:07.107079  INTC   60.40    98  False    K  N
1  18:23:07.107079  GOOG  239.40    76  False    R  N
2  18:23:07.107079   HPQ   92.98    41  False    R  O
3  18:23:07.107079   DOW   27.44    18  False    E  O
4  18:23:07.614080   AMD   23.59    70  False    N  N
5  18:23:07.614080  AAPL  363.12    53  False    B  N
6  18:23:07.614080  GOOG  239.50    44  False    O  N
7  18:23:07.614080   AMD   23.59    49   True    8  N
8  18:23:07.614080  MSFT   47.52    57  False    Z  N
9  18:23:07.614080  DELL   30.98    76  False    8  N
10 18:23:07.614080   DOW   27.43     8  False    C  O
11 18:23:07.614080   IBM   40.24    12  False    L  N
12 18:23:07.614080  MSFT   47.49    47  False    N  N
13 18:23:07.614080   AIG   10.38    19  False    E  O]

In [8]:
type(message)

list

In [10]:
type(message[2])

pandas.core.frame.DataFrame

In [14]:
message.length()

AttributeError: 'list' object has no attribute 'length'